button {
    padding: 10px;
}

.resizer {
    padding: 30px;
    border: 1px solid #ccc;
    resize: both;
    font-size: 200%;
    width: 500px;
    overflow: auto;
}

.inline-char {
    display: inline-block;
}

.popup {
    padding: 30px;
    background: #f0f0f0;
    border: 1px solid #ccc;
    width: 50%;
    margin: 20px;
    transition: opacity, filter ease-out 0.2s;
}

@starting-style {
    .popup {
        opacity: 0;
        filter: blur(40px);
    }
}
