name: CI
env:
    DEBUG: napi:*
    APP_NAME: discovery
    MACOSX_DEPLOYMENT_TARGET: "10.13"
permissions:
    contents: write
    id-token: write
"on":
    push:
        branches:
            - main
        tags-ignore:
            - "**"
        paths-ignore:
            - "**/*.md"
            - LICENSE
            - "**/*.gitignore"
            - .editorconfig
            - docs/**
    pull_request: null
jobs:
    build:
        strategy:
            fail-fast: false
            matrix:
                settings:
                    - host: macos-x86-latest
                      target: x86_64-apple-darwin
                      build: bun run build --target x86_64-apple-darwin
                    - host: macos-arm-latest
                      target: aarch64-apple-darwin
                      build: bun run build --target aarch64-apple-darwin
                    - host: windows-latest
                      build: bun run build --target x86_64-pc-windows-msvc
                      target: x86_64-pc-windows-msvc
                    - host: wasm-latest
                      build: bun run build --target wasm32-unknown-unknown
                      target: wasm32-unknown-unknown
                    - host: ubuntu-latest
                      target: x86_64-unknown-linux-gnu
                      docker: ghcr.io/napi-rs/napi-rs/nodejs-rust:lts-debian
                      build: bun run build --target x86_64-unknown-linux-gnu
        name: stable - ${{ matrix.settings.target }} - node@20
        runs-on: ${{ matrix.settings.host }}
        steps:
            - uses: actions/checkout@v4
            - name: Setup Bun
              uses: oven-sh/setup-bun@v2
            - name: Install
              uses: dtolnay/rust-toolchain@stable
              if: ${{ !matrix.settings.docker }}
              with:
                  toolchain: stable
                  targets: ${{ matrix.settings.target }}
            - name: Cache cargo
              uses: actions/cache@v4
              with:
                  path: |
                      ~/.cargo/registry/index/
                      ~/.cargo/registry/cache/
                      ~/.cargo/git/db/
                      .cargo-cache
                      target/
                  key: ${{ matrix.settings.target }}-cargo-${{ matrix.settings.host }}
            - uses: goto-bus-stop/setup-zig@v2
              if: ${{ matrix.settings.target == 'armv7-unknown-linux-gnueabihf' || matrix.settings.target == 'armv7-unknown-linux-musleabihf' }}
              with:
                  version: 0.13.0
            - name: Setup toolchain
              run: ${{ matrix.settings.setup }}
              if: ${{ matrix.settings.setup }}
              shell: bash
            - name: Install dependencies
              run: bun install
            - name: Build in docker
              uses: addnab/docker-run-action@v3
              if: ${{ matrix.settings.docker }}
              with:
                  image: ${{ matrix.settings.docker }}
                  options: "--user 0:0 -v ${{ github.workspace }}/.cargo-cache/git/db:/usr/local/cargo/git/db -v ${{ github.workspace }}/.cargo/registry/cache:/usr/local/cargo/registry/cache -v ${{ github.workspace }}/.cargo/registry/index:/usr/local/cargo/registry/index -v ${{ github.workspace }}:/build -w /build"
                  run: ${{ matrix.settings.build }}
            - name: Build
              run: ${{ matrix.settings.build }}
              if: ${{ !matrix.settings.docker }}
              shell: bash
            - name: Upload artifact
              uses: actions/upload-artifact@v4
              with:
                  name: bindings-${{ matrix.settings.target }}
                  path: ${{ env.APP_NAME }}.*.node
                  if-no-files-found: error
